@import "_config.scss";

.wrapper{
  min-height:100%;
  position: relative;
}

.content{
  padding: 50px 0 100px 0;
}
header{
    position: relative;
    display: block;
    width: 100%;
    background: $white;
    color:$black;
    height: 120px;

    .logo{
        position: absolute;
        top: 30%; left:15px;
        @include translateY(-50%);
    }   
}
.container{
  .info_movies__user_movies{
  background: $white;
  height:100px;
  width:100%;

  ul>li{
    padding:10px;
    margin-left:100px;
    margin-top:20px;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    &:hover{
      background-color: $linkHover;
    }
  }
    span{
      padding:10px;
      margin-top:20px;
      cursor: pointer;
      display: inline-block;
    }
 
  }
  .info_movies__card{
    background-color: $white;
    height:100%;
    margin: 0 20px 20px 0;
    padding:10px 0 10px 10px;
   
    .info_movies__showtime_btn{
      background-color:$linkHover;
      height:50px;
      color:$white;
      
    }
    
    .info_movies__theatres{
      display: none;
    } 
  }
  .info_movies__login_btn{
    background-color:$linkHover;
    color:$white;
    width:25%;
    margin:30px 0 0 30%;
  @media(min-width:$bp-medium){
    width:30%;
    margin-left:35%;
    margin-top:30px;
  }

  }
  .info_movies__search_btn{
    background-color:$linkHover;
    color:$white;
    border-radius:0;
  }
  
  }

footer{
    background:$black;
    position: absolute;
    width:100%;
    height:100px;
    
    clear:both;
    
    p{
        font-weight: 800px;
        color:$white;
        text-align: center;
    }
    .info_movies__tmdb_logo{
        width:5%;
    }
}

.info_movies__details_desc{
    font-size: 14px;
}
/*Movie article styling*/
.info_movie__article{
    margin:0 40px 20px  0;
    padding:10px 0 0 0;
    height:100%;
    display:inline-block;
    width: 170px;
    text-align: center;

    &:hover{
      background-color:$linkHover;
      border-radius:10px;
      box-shadow: 8px 8px 5px grey;
      transition: 0.5s;
      color:$white;
      a{
        color:$white;
      }
      
    }

   .info_movies__title{
       margin-top:-10px;
       font-size:11px;

       @media(min-width:$bp-large){
           font-size:14px;
           margin: 0;
       }
   } 
    .info_movies__date{
        font-size:12px;
        display:none;

        @media(min-width:$bp-large){
            font-size:16px;
            display: block;
        }
    }

    .info_movies__synopsis{
        font-size:12px;
        
        text-overflow: ellipsis;
        white-space: "...";
        display: none;
        @media(min-width:$bp-large){
            display: block;
        }
    }
    .info_movies__poster{
        margin-top:13px;
        
        max-height: 300px;
        .info_movies_img{
          width:150px;
          height: 230px;
          margin:0 auto;
          
        }
        .info_movies__text{
          align-content: center;
        
        }
    }

    @media(min-width:$bp-large){
      margin-top:20px;
      height:310px;
     }
}/*end of movie article styling*/

.trailer-btn{
  background-color: $linkHover;
  color:$white;
  width:185px;
}
.top-buffer{
  margin-top: 20px;
}
hr{
  border:1px solid $black;
}

/*Card styling*/
.card{
  background:$white;
}
.info_movies__img{
  height: 180px;
}
.info_movies__error{
  align-content: center;
}
.hide{display:none;}

.show{
  display:block;
}


.Modal{
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color:$white;
  height: 100%;
  overflow-y: auto;
}
.Overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:$backdrop-color;
}
#facebookLogin{
  margin:40px 0 0 0; 
}
.info_movies_search_page, .info_movies_castDetails,
.info_movies_homepage,.info_movies_newRelease{
  background-color:$white;
  padding:10px 20px 0 20px;
}
.check_text{
  font-size:12px;
}


/*new styling*/
/*navigation styling*/
.header_divider{
  border-bottom:2px solid $linkHover;
}
.nav_bar{
  background-color: white;
  overflow: hidden;
  height:63px;
  padding-right:calc(5% + 18px);
  padding-left: calc(5% + 18px);
}

.nav_bar a{
  float:right;
  height:100%;
  /*display: block;*/
  color:black;
  text-align: center;
  padding: 16px 16px 0 16px;
  text-decoration: none;
  font-size:17px;
}

.nav_bar ul{
  margin: 8px 0 0 0;
  list-style: none;
  float:right;
  height: 100%;
}
.nav_bar_list li{
  float:left;
  height: 100%;
}

.nav_bar a:hover{
  color:$linkHover;
}

.nav_bar__side_nav{
  height:100%;
  width:0;
  position: fixed;
  z-index: 1;
  top:0;
  right:0;
  background-color: #111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.nav_bar__side_nav a{
  padding: 10px 10px 10px 50px;
  text-decoration: none;
  font-size:22px;
  display: block;
  transition: 0.3s;
  color:white;
}

.nav_bar__side_nav a:hover{
  color:#fff;

}

.nav_bar__side_nav .nav_bar__btn_close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}
.open_slide #open_slide_svg:hover{
  background-color: white !important;
}

#main{
  padding: 20px;
  overflow: hidden;
  width:100%;
  text-align: center;
}

@media(max-width:$bp-large){
  .nav_bar_list{
    display:none;
  }
  #main{
    padding: 20px;
    overflow: hidden;
    width:90%;
    text-align: center;
  }
}

@media(min-width:$bp-large){
  .open_slide{
    display:none;
  }
}
.info_movies_query, .info_movies_postcode{
  margin:10px 20px 10px 0;
  font-size:13px;
  width:30%;
  height: 30px;
}
/*End of navigation styling*/
