@import "_config.scss";

header{
    position: relative;
    display: block;
    width: 100%;
    background: $white;
    color: $light;
    height: 120px;

    .logo{
        position: absolute;
        top: 50%; left:15px;
        @include translateY(-50%);
    }



    nav{
        background-color: $white;
        overflow: hidden;
        padding: 1em; 
        position: absolute;
        top: 100%; 
        right:15px;
        
        @include translateY(-50%);
        
      .navWide{
        display:none;
        margin:0 auto;

        a{
          text-decoration: none;
          display:inline-block;
          padding:0 1em;

          &:hover{
            color:#FA8072;
            text-decoration: none;
            @include transition(.1s ease-in-out);
        }
        }
      }

    }

    .navNarrow{
      i{
        float: right;
        cursor: pointer;
        color:$white;
      }

      .narrowLinks{
        display:none;

        a{
          display: block;
          float:right;
          clear:right;
          color:$black;
          padding:0.5em 0;
        }
      }
    }

    @media(min-width:$bp-large){
      nav{
        padding:1em;
        position: absolute;
        top: 50%; 
        right:15px;
        .navWide{
          display:block;

          a{
            color:$black;
          }
         
        }
        .navNarrow{
          display:none;
          i{
            float: right;
            cursor: pointer;
            color:$black;
          }
        }
      }
    }
       
}

footer{
    background:$black;
    width:100%;
    height:100px;

    p{
        font-weight: 800px;
        color:$white;
        text-align: center;
    }
    .info_movies__tmdb_logo{
        width:5%;
    }
}

.info_movies__details_desc{
    font-size: 14px;
}
/*Movie article styling*/
.info_movie__article{
    margin-top:20px;
    //margin-left:-100px;
    height:100%;
    
  

   .info_movies__title{
       margin-top:-10px;
       font-size:11px;

       @media(min-width:$bp-large){
           font-size:14px;
           margin: 0;
       }
   } 
    .info_movies__date{
        font-size:12px;
        display:none;

        @media(min-width:$bp-large){
            font-size:16px;
            display: block;
        }
    }

    .info_movies__synopsis{
        font-size:12px;
        
        text-overflow: ellipsis;
        white-space: "...";
        display: none;
        @media(min-width:$bp-large){
            display: block;
        }
    }
    .info_movies__synopsis_container{
        overflow: hidden;
    }
    .info_movies__poster{
        margin-top:13px;
    }
    /*img{
        margin-right:0;
    }*/

    @media(min-width){
      margin-top:20px;
      //margin-left:-100px;
      height:310px;
     }
}/*end of movie article styling*/

/*signup and login styling*/
.info_movies__signup-login{
  height: $height;
  border-radius: 10px;
  width:70%;
  margin:0 auto;
  background-color:$darkGrey;

  .info_movies__signup-login_buttons{
    height:100px;
  }
  p{
    color:$white;
    float:left;
    width:50%;
    text-align: center;
    margin:0;
    height: 50%;
    padding-top:25px;
  }
  .info_movies__signup_button:hover{
    background-color: #FA8072;
    cursor: pointer;
    border-radius:10px 0; 
  }
  .info_movies__login_button:hover{
    background-color: #FA8072;
    cursor: pointer;
    border-radius:0 10px; 
  }
  .signup{
    background:$darkGrey;
  }
  .signup > input, .signup > button{
    margin: 5% 0 0 18%;
    border-radius:10px;
  }
  #firstname,#lastname,#email,#password,#confirmPassword,#signup{width:70%;}

  .login > #email, .login > #password, .login > button{
    width:70%;
    margin:5% 0 0 18%;
    border-radius:10px;
  }
@media(min-width:$bp-large){
  width:330px;
}

 
}
.responsive-table{
    width:100%;
    margin-bottom:1.5em;

    @media(min-width:$bp-large){
        font-size:.9em;
    }
    @media(min-width:$bp-marge){
        font-size:1em;
    }

    thead {
        // Accessibly hide <thead> on narrow viewports
        position: absolute;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px; 
        width: 1px; 
        overflow: hidden;

@media (min-width: $bp-large) {
    // Unhide <thead> on wide viewports
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
  th {
    /*background-color: rgba(29,150,178,1);
    border: 1px solid rgba(29,150,178,1);*/
    font-weight: normal;
    text-align: center;
    color: white;
    
    &:first-of-type {
      text-align: left; 
    }
  }
}

  // Set these items to display: block for narrow viewports
  tbody,
  tr,
  th,
  td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  tr {   
    @media (min-width: $bp-large) {
      // Undo display: block 
      display: table-row; 
    }
  }

  th,
  td {
    padding: .5em;
    vertical-align: middle;
    
    @media (min-width: $bp-medium) {
      padding: .75em .5em; 
    }
    
    @media (min-width: $bp-large) {
      // Undo display: block 
      display: table-cell;
      padding: .5em;
    }
    
    @media (min-width: $bp-marge) {
      padding: .75em .5em; 
    }
    
    @media (min-width: $bp-homer) {
      padding: .75em; 
    }
  }

  caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    
    @media (min-width: $bp-large) {
      font-size: 1.5em;
    }
  }

  tfoot {
    font-size: .8em;
    font-style: italic;
    
    @media (min-width: $bp-marge) {
      font-size: .9em;
    }
  }

  tbody {
    @media (min-width: $bp-large) {
      // Undo display: block 
      display: table-row-group; 
    }
    
    tr {
      margin-bottom: 1em;
      border: 2px solid rgba(29,150,178,1);
      
      @media (min-width: $bp-large) {
        // Undo display: block 
        display: table-row;
        border-width: 1px;
      }
      
      &:last-of-type {
        margin-bottom: 0; 
      }
      
      &:nth-of-type(even) {
        @media (min-width: $bp-large) {
          background-color: rgba(94,93,82,.1);
        }
      }
    }
    
    th[scope="row"] {
      background-color: rgba(29,150,178,1);
      color:$white;

      a{
        color: $white;
        text-decoration: none;
      }
      
      @media (min-width: $bp-large) {
        background-color: transparent;
        color: rgba(94,93,82,1);
        text-align: left;

        a{
            color: rgba(94,93,82,.75);
            text-decoration: none;
          }
      }
    }
    
    td {
      text-align: right;
      
      @media (min-width: $bp-medium) {
        border-bottom: 1px solid  rgba(29,150,178,1);
      }
      
      @media (min-width: $bp-large) {
        text-align: center; 
      }
    }
    
    td[data-type=currency] {
      text-align: right; 
    }
    
    td[data-title]:before {
      content: attr(data-title);
      float: left;
      font-size: .8em;
      color: rgba(94,93,82,.75);
      
      @media (min-width: $bp-medium) {
        font-size: .9em; 
      }
      
      @media (min-width: $bp-large) {
        // Don’t show data-title labels 
        content: none; 
      }
    } 
  }
}
