@import "_config.scss";

header{
    position: relative;
    display: block;
    width: 100%;
    background: $black;
    color: $white;
    height: 90px;

    .logo{
        position: absolute;
        top: 50%; left:15px;
        @include translateY(-50%);
    }
nav, nav ul{
    margin: 0;
    padding: 0;
}

    nav{
        position: absolute;
        top: 50%; right:15px;
        @include translateY(-50%);
    }

    nav li{
        list-style-type: none;
        display: inline-block;
        margin-right:20px;

        &.last{
            margin: 0;
        }

        a{
                font-size: 19px;
                line-height: normal;
                color:$white;
                text-decoration: none;
            }

    }   
}

footer{
    background:$black;
    width:100%;
    height:100px;

    p{
        font-weight: 800px;
        color:$white;
        text-align: center;
    }
    .info_movies__tmdb_logo{
        width:5%;
    }
}
.info_movie__article{
    margin-top:20px;
    margin-left:20px;
    height:240px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc; 
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  
    box-shadow:         3px 3px 5px 6px #ccc;

   .info_movies__title{
       margin-top:-10px;
       font-size:11px;

       @media(min-width:$bp-bart){
           font-size:14px;
           margin: 0;
       }
   } 
    .info_movies__date{
        font-size:12px;
        display:none;

        @media(min-width:$bp-bart){
            font-size:16px;
            display: block;
        }
    }

    .info_movies__synopsis{
        font-size:12px;
        
        text-overflow: ellipsis;
        white-space: "...";
        display: none;
        @media(min-width:$bp-bart){
            display: block;
        }
    }
    .info_movies__synopsis_container{
        overflow: hidden;
    }
    .info_movies__poster{
        margin-top:13px;
    }
    img{
        margin-right:0;
    }
}

.responsive-table{
    width:100%;
    margin-bottom:1.5em;

    @media(min-width:$bp-bart){
        font-size:.9em;
    }
    @media(min-width:$bp-marge){
        font-size:1em;
    }

    thead {
        // Accessibly hide <thead> on narrow viewports
        position: absolute;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px; 
        width: 1px; 
        overflow: hidden;

@media (min-width: $bp-bart) {
    // Unhide <thead> on wide viewports
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
  th {
    background-color: rgba(29,150,178,1);
    border: 1px solid rgba(29,150,178,1);
    font-weight: normal;
    text-align: center;
    color: white;
    
    &:first-of-type {
      text-align: left; 
    }
  }
}

  // Set these items to display: block for narrow viewports
  tbody,
  tr,
  th,
  td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  tr {   
    @media (min-width: $bp-bart) {
      // Undo display: block 
      display: table-row; 
    }
  }

  th,
  td {
    padding: .5em;
    vertical-align: middle;
    
    @media (min-width: $bp-lisa) {
      padding: .75em .5em; 
    }
    
    @media (min-width: $bp-bart) {
      // Undo display: block 
      display: table-cell;
      padding: .5em;
    }
    
    @media (min-width: $bp-marge) {
      padding: .75em .5em; 
    }
    
    @media (min-width: $bp-homer) {
      padding: .75em; 
    }
  }

  caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    
    @media (min-width: $bp-bart) {
      font-size: 1.5em;
    }
  }

  tfoot {
    font-size: .8em;
    font-style: italic;
    
    @media (min-width: $bp-marge) {
      font-size: .9em;
    }
  }

  tbody {
    @media (min-width: $bp-bart) {
      // Undo display: block 
      display: table-row-group; 
    }
    
    tr {
      margin-bottom: 1em;
      border: 2px solid rgba(29,150,178,1);
      
      @media (min-width: $bp-bart) {
        // Undo display: block 
        display: table-row;
        border-width: 1px;
      }
      
      &:last-of-type {
        margin-bottom: 0; 
      }
      
      &:nth-of-type(even) {
        @media (min-width: $bp-bart) {
          background-color: rgba(94,93,82,.1);
        }
      }
    }
    
    th[scope="row"] {
      background-color: rgba(29,150,178,1);
      color:$white;

      a{
        color: $white;
        text-decoration: none;
      }
      
      @media (min-width: $bp-bart) {
        background-color: transparent;
        color: rgba(94,93,82,1);
        text-align: left;

        a{
            color: rgba(94,93,82,.75);
            text-decoration: none;
          }
      }
    }
    
    td {
      text-align: right;
      
      @media (min-width: $bp-lisa) {
        border-bottom: 1px solid  rgba(29,150,178,1);
      }
      
      @media (min-width: $bp-bart) {
        text-align: center; 
      }
    }
    
    td[data-type=currency] {
      text-align: right; 
    }
    
    td[data-title]:before {
      content: attr(data-title);
      float: left;
      font-size: .8em;
      color: rgba(94,93,82,.75);
      
      @media (min-width: $bp-lisa) {
        font-size: .9em; 
      }
      
      @media (min-width: $bp-bart) {
        // Don’t show data-title labels 
        content: none; 
      }
    } 
  }
}
